li {
   font-size: 12px;
   font-family: verdana;
   font-weight: bold;
}

a{
   color:#fff;
    text-decoration:none;
}

a:hover {color:#FF9900;}

#nav{
  border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
 position: absolute;
   top:20px;
   left:20px;
   width:10%;
   height:10%;
   z-index: 100; /* stack order: background */
   box-shadow: 0 0 100px rgba(0,0,0,.6);
   -webkit-box-shadow: 0 0 8px rgba(0,0,0,.6);
   -moz-box-shadow: 0 0 8px rgba(0,0,0,.6);
   background-image: url("../images/simple_dashed.png");

}

#search {
 border: 0px;
 border-color: #fff;
 align:right;
}

#progress{
    background-color: #cccccc;
    box-shadow: 0 0 8px rgba(0,0,0,.6);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.6);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.6);
}



#main{
    position:absolute;
    height:100%;
    width:100%;
    top:101;
    left:0;
    box-shadow: 0 0 8px rgba(0,0,0,.6);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.6);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.6);
    background: #1c1f22;
    z-index: 92; /* stack order: background */
    background-image: url("../images/noisy.png");

}

.splash1 {
  position:absolute;
  background-color: #fff;
  width:25%;
  height:35%;
  top:300px;
  left:200px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  box-shadow: 0 0 50px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,.6);
  -moz-box-shadow: 0 0 50px rgba(0,0,0,.6);
 display:block;
  z-index: 107; /* stack order: background */
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.splash2 {
  position:absolute;
  background-color: #fff;
  width:25%;
  height:35%;
  top:-150px;
  left:1000px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  box-shadow: 0 0 50px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,.6);
  -moz-box-shadow: 0 0 50px rgba(0,0,0,.6);
 display:block;
  z-index: 106; /* stack order: background */
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(:;5deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.splash3 {
  position:absolute;
  background-color: #fff;
  width:25%;
  height:35%;
  top:200px;
  left:600px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  box-shadow: 0 0 50px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,.6);
  -moz-box-shadow: 0 0 50px rgba(0,0,0,.6);
 display:block;
  z-index: 106; /* stack order: background */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.splash1_normal {
  position:absolute;
  background-color: #fff;
  width:25%;
  height:35%;
  top:200px;
  left:100px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  box-shadow: 0 0 50px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,.6);
  -moz-box-shadow: 0 0 50px rgba(0,0,0,.6);
 display:block;
  z-index: 106; /* stack order: background */
}
 .splash2_normal {
  position:absolute;
  background-color: #fff;
  width:25%;
  height:35%;
  top:200px;
  left:650px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  box-shadow: 0 0 50px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,.6);
  -moz-box-shadow: 0 0 50px rgba(0,0,0,.6);
 display:block;
  z-index: 106; /* stack order: background */
}

.splash3_normal {
  position:absolute;
  background-color: #fff;
  width:25%;
  height:35%;
  top:200px;
  left:1200px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  box-shadow: 0 0 50px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,.6);
  -moz-box-shadow: 0 0 50px rgba(0,0,0,.6);
 display:block;
  z-index: 106; /* stack order: background */
}



body,
html {
margin:0;
padding:0;
color:#fff;
background:#000000;
}

@font-face {
      font-family: 'NokiaPureTextLight';
      src: url('../../res/../../font/nokiapuretextlight-webfont.eot');
      src: url('../../res/../../font/nokiapuretextlight-webfont.eot?#iefix') format('eot'),
        url('../../res/../../font/nokiapuretextlight-webfont.woff') format('woff'),
        url('../../res/../../font/nokiapuretextlight-webfont.ttf') format('truetype'),
        url('../../res/../../font/nokiapuretextlight-webfont.svg#webfontC3amkkTh') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    body {
      background-color:#FFFFFF;
      font-family: 'NokiaPureTextLight';
    }
    .main-search {
      -moz-border-radius: 10px 10px 10px 10px;
      padding: 10px;
      font-family: Arial,Helvetica,sans-serif;
      margin-left: auto;
      margin-right: auto;
    }


    .main-search .caption {
      font-size: 12px;
      margin-right: 5px;
      color: #f5f5f5;
      background-color: #1080DD;
      font-family: Arial,Helvetica,sans-serif;
    }

    .main-search .search-box-bckgrnd {
      border: 1px solid #1080DD;
      margin-right: 5px;
      padding: 2px;
      width: 98%;
      color: #485773;
      border-radius: 5px;
      height: 20px;
      padding: 2px;
      font-family: Arial,Helvetica,sans-serif;
    }

    .main-search .search-list {
      padding: 10px;
      background-color: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      width:90%;
      position:absolute;
      margin:20px 0px;
      z-index: 5000;

    }

    .main-search .search-list dl {
      margin: 0px;
      margin-top: 5px;
      overflow: none;
    }

    .main-search .search-list dt {
      width: 100%;
      background-color: #23435D;
      text-align: center;
      color: #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 2px;
      background-image: url("../images/simple_dashed.png");
    }

    .main-search .search-list dd {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin: 2px;
      background-color: #ccc;
      padding-left: 5px;
      color: #fff;
      padding: 5px;
    }

    .main-search .search-list dd.selected {
      background-color: #4F97D2;
      color: #f5f5f5;
      cursor: pointer;

      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;

      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -o-transform: scale(1.03);
    }


    #searchPanel{
      position:absolute;
      height:auto;
      width:50%;
      border-style: thick;
      border-color:#000;
      top:20px;
      left:300px;
      margin-right: auto;
      margin-left:auto;
      z-index: 999;
    }


    #showPlace{
      position:relative;
      height:50%;
      width:100%;
      margin-right: auto;
      margin-left:auto;
    }