@(message: String)

@main("Welcome to Road Trip") {

<div id="wrap">
<div id="nav"><ul>
<li><a href="/mytrips/recenttrips">Recent Trips</a></li>
<li><a href="/mytrips/upcomingtrips">Upcoming Trips</a></li>
<li><a href="/mytrips/plantrip">Plan New Trip</a></li>
</ul></div>
<div id="main">
  <img src="@routes.Assets.at("images/car.jpg")" class="splash1_normal">
  <img src="@routes.Assets.at("images/scenery2.jpg")" class="splash2_normal">
  <img src="@routes.Assets.at("images/marine1.jpg")" class="splash3_normal">
</div></div>
</div>

}
